
<form >
  <div class="header">
    <img align="right" src="assets\img\laptop.png"  height="150"/> 
      <h1 class=hcolor>Contact Our </h1>

     <h2>Customer Support Center</h2>
    </div>
    
  </form>
  <br><br><br>
  <div class="header2">
  <h5>Contact Information</h5>
  <h6>Please fill out your contact information below</h6>
</div>

    


  <form>
       <h4>Your Name*</h4> 
    
  <div >
  
      <input class="form-control" type="text" placeholder="First name" #fname>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-control" type="text" id="lname" placeholder="Last Name" >
    
  </div>
  <br><br>
  
  <h4>Email*</h4>
  <input type="email" class="form-control" id="email"  placeholder="Enter email">
  <br><br>
  
  <h4>Phone*</h4>
  <input type="number" class="form-control" id="email"  placeholder="Enter Phone number">
  <br><br>
  <h4>Address*</h4>
  <input type="text" class="form-control" id="email"  placeholder="Enter Address">
  <br><br>
  
  </form>

<router-outlet></router-outlet>
